<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %>
                        <br>
                        <% } %>
            </div>
            <% } %>
                <form action="/datas/<%= data.slug %>" method="POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" value="<%= data.name %>">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" name="price" class="form-control" value="<%= data.price %>">
                    </div>
                    <div class="form-group">
                        <label>Vendor</label>
                        <input type="text" name="vendor" class="form-control" value="<%= data.vendor %>">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg">Update</button>
                    </div>
                </form>
                <td class="col-md-2">
                    <a href="/datas/<%= data.slug %>" class="btn btn-sm btn-primary">View</a> &nbsp;
                    <a href="/datas/<%= data.slug %>/edit" class="btn btn-sm btn-warning">Edit</a> &nbsp;
                    <a href="/datas/<%= data.slug %>/delete" class="btn btn-sm btn-danger">Delete</a>
                </td>
    </div>
</div>
